<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.tlcsdm.tlstudio.examples.swt.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tlcsdm.tlstudio.examples.swt.rcp.Perspective"
            name="Perspective"
            id="com.tlcsdm.tlstudio.examples.swt.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.tlcsdm.tlstudio.examples.swt.rcp.View"
            name="View"
            id="com.tlcsdm.tlstudio.examples.swt.rcp.view"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.tlcsdm.tlstudio.examples.swt.rcp.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="SWT Examples"
            application="com.tlcsdm.tlstudio.examples.swt.rcp.application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png,icons/eclipse512.png">
         </property>
      </product>
   </extension>

</plugin>
