<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Tlstudio Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/neon/"/>
			<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.doc.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecp.license.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="0.0.0"/>
			<unit id="epp.package.rcp" version="0.0.0"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.rcp.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
			<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.core.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.fx.ide.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.cloudio.doc.user.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.cloudio.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.common.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.dot.doc.user.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.dot.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.fx.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.geometry.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.graph.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.layout.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.mvc.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef4.zest.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.jsdt.chromium.debug.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.zest.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache Felix" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.felix</groupId>
					<artifactId>org.apache.felix.scr</artifactId>
					<version>2.2.6</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>